
.card {
    width: 180px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .title {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    color: #2d0c00; /* Marrom escuro */
    margin: 0;
  }
  
  .count {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #d1d5db; /* Gray-300 */
    font-weight: bold;
  }
  
  .link {
    font-size: 0.875rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }
  